# React / Node.js frontend
node_modules/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Visual Studio / .NET / C#
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates


# IDE files
.vscode/
.idea/